/* Default styling */
@font-face {
    font-family: "Fonts";
    src: url("../fonts/Poppins-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fonts", sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

.container{
    width: 85%;
    margin: 0 auto;
}
.container_thr{
    width: 90%;
    margin: 0 auto;
}

/* Display flex blocks */
.df_thr{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.df2_thr{
    display: flex;
    align-items: center;
}
.content_nv{
    display: flex;
    justify-content: space-between;
}
.df_tr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.df_bg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.df_ct{
    display: flex;
    justify-content: space-between;
}
.df_foo{
    display: flex;
    justify-content: space-between;
}
/* End Display flex blocks */

/* Top header styling */
.top-header{
    padding: 1rem 2rem;
    border-bottom: 1px solid #9999;
}
.logo span{
    color: #ff6600;
}
.logo{
    color: #44425e;
    padding: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.df2_thr i{
    color: #ff6600;
    font-size: 2rem;
    padding: 0 0.8rem;
}
.df2_thr b{
    color: #44425e;
}
.smallp_thr{
    font-size: 0.8rem;
    color: #6c6a74;
}
.col_thr{
    padding: 0 0.5rem;
}
/* End Top header styling */
/* Navbar styling */
.navbar{
    padding: 1rem 0;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin-right: 3rem;
    list-style: none;
}
.nav-links li a{
    color: #44425e;
    font-size: 1.2rem;
    transition: all .4s ease;
}
.nav-links li a:hover{
    color: #ff6600;
}
.nav-links .active_link_nv{
    color: #ff6600;
}
.bars{
    display: none;
}
.bars i{
    font-size: 2rem;
    color: #44425e;
    cursor: pointer;
    transition: all .5s ease;
}
.bars i:hover{
    color: #ff6600;
}
/* End Navbar styling */
/* Intro section styling */
.intro{
    background-image: url("../img/carousel-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
}
.content_io{
    width: 75%;
    margin: 0 auto;
}
.content_io p{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
}
.content_io h1{
    font-size: 5rem;
    color: white;
}
.btn_io{
    padding: 0.5rem 3rem;
    background-color: #ff6600;
    display: inline-block;
    border-radius: 2rem;
    cursor: pointer;
}
.btn_io a{
    color: white;
}
.btn_io:hover{
    background-color: #e25b00;
}
/* End Intro section styling */
/* About section styling */
.about{
    padding: 7rem 0;
    display: flex;
    align-items: center;
}
.df_at{
    display: flex;
}
.img_at{
    width: 40%;
    border-radius: 1rem;
    margin: 0 1.5rem;
}
.text_at .first_at{
    padding: 0.5rem 0;
    letter-spacing: 0.5rem;
    color: #ff6600;
    font-weight: bold;
    font-size: 1.2rem;
}
.text_at h1{
    font-size: 2.5rem;
    padding: 0.5rem 0;
    color: #44425e;
    letter-spacing: 0.1rem;
}
.text_at p{
    color: #6c6a74;
    padding: 0.5rem 0;
}
.btn_at{
    margin: 1rem 0;
    padding: 0.5rem 3rem;
    background-color: #ff6600;
    display: inline-block;
    border-radius: 1rem;
    cursor: pointer;
}
.btn_at a{
    color: white;
}
.btn_at:hover{
    background-color: #e25b00;
}
/* End About section styling */
/* Teacher section styling */
.teacher{
    padding: 7rem 0;
    text-align: center;
}
.first_tr{
    padding: 0.5rem 0;
    letter-spacing: 0.5rem;
    color: #ff6600;
    font-weight: bold;
    font-size: 1.2rem;   
}
.teacher h1{
    font-size: 2.5rem;
    padding: 0.5rem 0;
    color: #44425e;
    letter-spacing: 0.1rem; 
}
.col_tr{
    margin: 1rem;
    height: 30rem;
    width: 25%;
}
.img_tr{
    height: 80%;
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.img1_tr{
    background-image: url("../img/team-2.jpg");
    background-size: cover;
    background-position: top;
}
.img2_tr{
    background-image: url("../img/team-4.jpg");
    background-size: cover;
    background-position: top;
}
.img3_tr{
    background-image: url("../img/team-2.jpg");
    background-size: cover;
    background-position: top;
}
.img4_tr{
    background-image: url("../img/team-4.jpg");
    background-size: cover;
    background-position: top;
}
.icons_tr{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44425ea9;
    opacity: 0;
    transition: all .4s ease-out;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.icons_tr i{
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: all .5s ease-in;

}
.icons_tr i:hover{
    background-color: white;
    color: #44425e;
}
.icons_tr:hover{
    opacity: 1;
}
.text_tr{
    background-color: #EEE;
    width: 100%;
    height: 20%;
    padding: 0.5rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.name_tr{
    color: #44425e;
}
.pro_tr{
    color: #6c6a74;
}
/* End Teacher section styling */
/* Blog section styling */
.blog{
    padding: 7rem 0;
}
.first_bg{
    padding: 0.5rem 0;
    letter-spacing: 0.5rem;
    color: #ff6600;
    font-weight: bold;
    font-size: 1.2rem; 
    text-align: center;
}
.heading_bg{
    font-size: 2.5rem;
    padding: 0.5rem 0;
    color: #44425e;
    letter-spacing: 0.1rem; 
    text-align: center;
}
.col1_bg{
    margin: 0 1rem;
    height: 25rem;
    width: 30%;
    background-image: url("../img/blog-1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    padding: 1rem;
}
.col2_bg{
    margin: 0 1rem;
    height: 25rem;
    width: 30%;
    background-image: url("../img/blog-2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    padding: 1rem;
}
.col3_bg{
    margin: 0 1rem;
    height: 25rem;
    width: 30%;
    background-image: url("../img/blog-3.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    padding: 1rem;
}
.text_bg h1{
    color: white;
}
.text_bg p{
    color: #ff6600;
    background-color: white;
    padding: 0.5rem;
}
.col_bg{
    transition: all .4s ease;
    border-radius: 1rem;
}
.col_bg:hover{
    transform: scale(1.2);
    z-index: 2;
}
/* End Blog section styling */
/* Contact section styling */
.contact{
    padding: 3rem 0;
    margin-top: 7rem;
    background-image: url("../img/registration.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text_ct .first_ct{
    padding: 0.5rem;
    display: inline-block;
    letter-spacing: 0.5rem;
    color: #ff6600;
    font-weight: bold;
    font-size: 1.2rem; 
    text-shadow: 0 0 10px black;
    background-color: #fff;
}
.text_ct h1{
    color: white;
    padding: 0.5rem 0;
    font-size: 2rem;
    text-shadow: 0 0 10px black;
}
.text_ct p{
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    text-shadow: 0 0 10px black;
}
.text_ct i{
    color: #ff6600;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    text-shadow: 0 0 10px black;
}
.form{
    background-color: #ff6600;
    border-radius: 1rem;
    margin: 1rem;
}
.form input{
    display: block;
    width: 25rem;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
}
.form input:focus{
    outline: none;
}
.form h1{
    background-color: white;
    padding: 1rem;
    text-align: center;
    color: #44425e;
    font-size: 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.content_form{
    padding: 1rem;
}
.btn_ct{
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    width: 25rem;
    border: none;
    background-color: #44425e;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}
.btn_ct:hover{
    background-color: #22212d;
}
/* End Contact section styling */
/* footer styling */
.footer{
    padding: 4rem 1rem 0 1rem;
    background-color: #44425e;
}
.col_foo{
    padding: 1rem;
    width: 30%;
}
.col_foo .heading_foo{
    color: #ff6600;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    letter-spacing: 0.5rem;
}
.col_foo p{
    color: white;
    padding: 0.3rem 0;
}
.col_foo i{
    padding: 0.5rem;
    color: white;
    font-size: 1.2rem;
}
.icons_foo i{
    border: 1px solid white;
    border-radius: 0.5rem;
    margin: 0.5rem;
    transition: all .4 ease;
}
.icons_foo i:hover{
    background-color: white;
    color: #44425e;
}
.foo-link li{
    color: white;
    padding: 0.5rem;
}
.foo-link li a{
    color: white;
    
}
.form-control{
    width: 15rem;
    padding: 0.5rem;
}
.form-control:focus{
    outline: none;
}
.email-div{
    position: relative;
}
.btn_foo{
    background-color: #ff6600;
    height: 100%;
    padding: 0.5rem 1rem;
    display: inline-block;
    position: absolute;
}
.bottom-footer{
    padding: 1rem;
    border-top: 1px solid #fff;
    color: white;
}
/* End footer styling */
