/* Default styling */
@font-face {
    font-family: "Fonts";
    src: url("../fonts/Poppins-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fonts", sans-serif;
}
a{
    text-decoration: none;
}
body{
    scroll-behavior: smooth;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container_thr{
    width: 90%;
    margin: 0 auto;
}

/* Display flex blocks */
.df_thr{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.df2_thr{
    display: flex;
    align-items: center;
}
.content_nv{
    display: flex;
    justify-content: space-between;
}
/* End Display flex blocks */

/* Top header styling */
.top-header{
    padding: 1rem 2rem;
    border-bottom: 1px solid #9999;
}
.logo span{
    color: #ff6600;
}
.logo{
    color: #44425e;
    padding: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.df2_thr i{
    color: #ff6600;
    font-size: 2rem;
    padding: 0 0.8rem;
}
.df2_thr b{
    color: #44425e;
}
.smallp_thr{
    font-size: 0.8rem;
    color: #6c6a74;
}
.col_thr{
    padding: 0 0.5rem;
}
/* End Top header styling */
/* Navbar styling */
.navbar{
    padding: 1rem 0;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin-right: 3rem;
    list-style: none;
}
.nav-links li a{
    color: #44425e;
    font-size: 1.2rem;
    transition: all .5s ease;
}
.nav-links li a:hover{
    color: #ff6600;
}
.nav-links .active_link_nv{
    color: #ff6600;
}
.bars{
    display: none;
}
.bars i{
    font-size: 2rem;
    color: #44425e;
    cursor: pointer;
    transition: all .5s ease;
}
.bars i:hover{
    color: #ff6600;
}
/* End Navbar styling */